<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color:#5DADE2;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'NewHomePage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'TravelPackage' %}">Travel</a>
        </li>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'print1' %}">Print</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'random123' %}">OTP</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PythonFeatures
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'TravelPackage' %}">Travel Package</a></li>
            <li><a class="dropdown-item" href="{% url 'print1' %}">Print1</a></li>
            <li><a class="dropdown-item" href="{% url 'rand' %}">Random123</a></li>
            <li><a class="dropdown-item" href="{% url 'getdate1' %}">GetDate</a></li>
            <li><a class="dropdown-item" href="{% url 'pie' %}">PieChart</a></li>
            <li><a class="dropdown-item" href="{% url 'registerloginfunction' %}">RegisterLoginFunction</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'getdate1' %}">Date</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li></ul>
<ul  class="navbar-nav ms-auto">
<li>
        {% if user.is_authenticated %}
        <li class="nav-item">
        <span class="nav-link">Welcome, {{ user.username }}</span>
    </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
                <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Register</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}

 </li>

      </ul>
    </div>
  </div>
</nav>
{% block body %}

{% endblock %}
</body>
</html>